body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    background-image: url(bg1.jpg);
    background-size: cover;
}

.container {
    background-color: #ffffff;
    padding: 0.5px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerHasil {
    background-color: #ffffff;
    padding: 0.5px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    color: #333333;
    font-size: 35px;
    text-align: center;
}

.form-group label {
    font-weight: 500;
    color: #555555;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.mt-4{
    margin-left: 32%;
    table th, td{
        padding: 20px;
    }
}
