<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viral Content Predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Predict of Viral Social Media Content</h1>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload your CSV file:</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".csv" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </div>
</body>
</html>


